div.Main{
    text-align:center;
}

div.Tabella{
    padding:10px;
    margin:0 auto;
    width:450px;
}

.BordoH{
    border-top:8px solid white;
    width:100%;
}
.BordoV{
    border-left:8px solid white;
    display:inline;
}

input.Num{
    margin:1px;
    width:40px;
    height:40px;
    text-align:center;
}
